@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<h1>Header</h1>
	</header>
	<div class="sectiongroup">
		<nav id="mainmenu">
			<ul>
				<li><a href="#">Menu Option 1</a></li>
				<li><a href="#">Menu Option 2</a></li>
				<li><a href="#">Menu Option 3</a></li>
			</ul>
		</nav>
		<div id="maincontent">
			<ul id="topcontent" class="orange-content-area">
				<li class="orange-content-item"></li>
				<li class="orange-content-item"></li>
			</ul>
			<ul id="bottomcontent" class="expandable-content-area">
				<li class="expandable">
					<div class="expansion-control"></div>
					<ul>
						<li class="itemgroup">
							<div class="item-left-content"></div>
							<div class="item-right-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium venenatis nibh, quis rhoncus ligula tincidunt id.</p></div>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<div class="expansion-control"></div>
					<ul>
						<li class="itemgroup">
							<div class="item-left-content"></div>
							<div class="item-right-content"><p>Suspendisse sem urna, bibendum a gravida a, gravida non mi. Nunc varius accumsan scelerisque.</p></div>
						</li>
						<li class="itemgroup">
							<div class="item-left-content"></div>
							<div class="item-right-content"><p>Nulla orci magna, molestie ultrices accumsan in, pretium non massa. Aliquam vel lorem risus, ac pretium enim.</p></div>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<div class="expansion-control"></div>
					<ul>
						<li class="itemgroup">
							<div class="item-left-content"></div>
							<div class="item-right-content"><p>In placerat dui et enim rhoncus ut malesuada ante bibendum. Nulla elit massa, dictum id malesuada ac, faucibus eget ligula.</p></div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
