@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<h1>Header</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#">Menu Option 1</a></li>
			<li><a href="#">Menu Option 2</a></li>
			<li><a href="#">Menu Option 3</a></li>
		</ul>
	</nav>
	<div>
		<div class="orange-content-area">
			<div class="orange-content-item"></div>
			<div class="orange-content-item"></div>
		</div>
		<div class="expandable-content-area">
			<div class="expandable-control">
				<div class="item">
					<div class="item-left-content"></div>
					<div class="item-right-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium venenatis nibh, quis rhoncus ligula tincidunt id. Cras interdum, erat ut fringilla cursus, nibh libero pharetra velit, in varius felis orci nec orci. Proin quis dui elit. Suspendisse potenti. Nunc mattis enim a neque hendrerit vehicula. Nam blandit, dolor id suscipit porttitor, sapien quam varius turpis, in sodales est velit a libero. Ut ac mollis mauris. Aenean eu nisl nunc, quis auctor arcu. Suspendisse magna elit, placerat in dictum consequat, lobortis vel nunc. Donec eros dolor, gravida quis consequat id, ultricies vel ligula. Sed est turpis, interdum eget convallis sed, facilisis eget dolor. Aenean at tellus sapien, sed vestibulum metus. In blandit ultricies elit, in viverra arcu ullamcorper ut. Nulla sit amet urna massa, ut pulvinar ligula. Integer ut nulla a ligula placerat dictum id id justo.</p></div>
				</div>
			</div>
			<div class="expandable-control">
				<div class="item">
					<div class="item-left-content"></div>
					<div class="item-right-content"><p>Suspendisse sem urna, bibendum a gravida a, gravida non mi. Nunc varius accumsan scelerisque. Nullam ac risus sed risus vulputate facilisis. Vestibulum viverra odio non lacus malesuada ornare. Praesent euismod rhoncus libero, ac egestas augue sagittis dapibus. Duis facilisis ligula et ligula imperdiet eget pulvinar leo vulputate. Suspendisse gravida tincidunt augue ac ornare. Quisque quam mi, tristique id semper ut, pellentesque et lectus.</p></div>
				</div>
				<div class="item">
					<div class="item-left-content"></div>
					<div class="item-right-content"><p>Nulla orci magna, molestie ultrices accumsan in, pretium non massa. Aliquam vel lorem risus, ac pretium enim. Nam lacus nisi, tempus pretium interdum quis, volutpat eu libero. Morbi vulputate quam eu mauris lacinia ullamcorper. In at leo urna. Duis sit amet sagittis nunc. Donec et eros ac ipsum sodales tristique.</p></div>
				</div>
			</div>
			<div class="expandable-control">
				<div class="item">
					<div class="item-left-content"></div>
					<div class="item-right-content"><p>In placerat dui et enim rhoncus ut malesuada ante bibendum. Nulla elit massa, dictum id malesuada ac, faucibus eget ligula. Nunc interdum dignissim turpis, eu dictum dolor dignissim ac. Fusce eu turpis sapien. Donec at metus magna, vel consequat risus. Suspendisse egestas condimentum mauris, et mattis enim tincidunt non. Nam erat velit, vestibulum eu consectetur vel, luctus sit amet nisi. Sed turpis felis, vulputate quis varius in, tincidunt vel eros. Pellentesque ultricies diam eget dui suscipit accumsan. Nulla vitae erat elit, vel lobortis ante. Nullam felis nisi, viverra sed fringilla id, sollicitudin ac odio. Aenean ut auctor nisi. Suspendisse ipsum nibh, tristique ac aliquam a, ullamcorper a erat. Integer a nisl tortor, vel mollis dolor.</p></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
