@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<h1>Header</h1>
	</header>
	<div class="section group">
		<nav class="col span_2_of_8">
			<ul>
				<li><a href="#">Menu Option 1</a></li>
				<li><a href="#">Menu Option 2</a></li>
				<li><a href="#">Menu Option 3</a></li>
			</ul>
		</nav>
		<div class ="col span_6_of_8">
			<ul class="orange-content-area">
				<li class="orange-content-item"></li>
				<li class="orange-content-item"></li>
			</ul>
			<div class="expandable-content-area">
				<div class="expandable">
					<div class="expansion-control"></div>
					<div class="item group">
						<div class="item-left-content col span_2_of_6"></div>
						<div class="item-right-content col span_4_of_6"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium venenatis nibh, quis rhoncus ligula tincidunt id.</p></div>
					</div>
				</div>
				<div class="expandable">
					<div class="expansion-control"></div>
					<div class="item group">
						<div class="item-left-content col span_2_of_6"></div>
						<div class="item-right-content col span_4_of_6"><p>Suspendisse sem urna, bibendum a gravida a, gravida non mi. Nunc varius accumsan scelerisque.</p></div>
					</div>
					<div class="item group">
						<div class="item-left-content col span_2_of_6"></div>
						<div class="item-right-content col span_4_of_6"><p>Nulla orci magna, molestie ultrices accumsan in, pretium non massa. Aliquam vel lorem risus, ac pretium enim.</p></div>
					</div>
				</div>
				<div class="expandable">
					<div class="expansion-control"></div>
					<div class="item group">
						<div class="item-left-content col span_2_of_6"></div>
						<div class="item-right-content col span_4_of_6"><p>In placerat dui et enim rhoncus ut malesuada ante bibendum. Nulla elit massa, dictum id malesuada ac, faucibus eget ligula.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
