/* #region less variables */
@body-margin:3em;

/* #endregion */

/* #region less mixins */
.box-sizing(@bs){
	-webkit-box-sizing:@bs;
	   -moz-box-sizing:@bs;
	        box-sizing:@bs;
}

.clearfix() {
	zoom:1;
	&:before, &:after{
		content:"";
		display:table;
	}
	&:after{
		clear:both;
	}
}

.col() {
	display: block;
	float: left;
	margin-left: 1.6%;

	&:first-child {
		margin-left: 0; /* all browsers except IE6 and lower */
	}
}

.col-1-1(){
	width: 100%;
	margin-left:0;
}

.col-2-6() {
	width: 32.26%;
}

.col-4-6() {
	width: 66.13%;
}

.col-2-8() {
	width: 23.8%;
}

.col-4-8() {
	width: 49.2%;
}

.col-6-8() {
	width: 74.6%;
}

/* #endregion */

/* our content */
*, *:after, *:before{
	.box-sizing(border-box);
}

/* override normalize */
h1 {
	margin: 0;
}

body {
	padding-left: @body-margin;
	padding-right: @body-margin;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* #region main header */
header {
	text-align: center;
	background-color: rgb(85, 85, 85);
	color: white;
	margin-left: -@body-margin;
	margin-right: -@body-margin;
}

/* #endregion */

/* #region section wrapper */
.sectiongroup {
	.clearfix();
	clear: both;
	padding: 0px;
	margin: 1em 0 0 0;
}

/* #endregion */

/* #region main menu */
#mainmenu {
	.col();
	.col-2-8();
	li {
		background-color: rgb(0, 163, 217);
		margin-bottom: 1em;
		height: 2em;
	}
}

/* #endregion */

/* #region main content */
#maincontent{
	.col();
	.col-6-8();
}

.orange-content-item {
	background-color: rgb(255, 128, 0);
	height: 7em;
	margin-bottom: 1em;
}

/* #endregion */

/* #region expandable content */
.expandable {
	margin-bottom: 1em;
}

.expansion-control {
	background-color: rgb(185, 185, 200);
	height: 2em;
}

.itemgroup{
	.clearfix();
	padding-top:1em;
	div {
		.col();
	}
	.item-left-content{
		.col-2-6();
		background-color: rgb(83, 83, 98);
		height: 5em;
	}
	.item-right-content{
		.col-4-6;
	}
}

/* #endregion */

@media screen and (max-width: 639px) {
	#mainmenu {
		.col-1-1();
	}

	#maincontent {
		.col-1-1();
	}

	.expandable {
		ul {
			display: none;
		}
	}
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
	#mainmenu {
		.col-1-1();
		ul{
			.clearfix();
		}
		li {
		   .col();
		   .col-2-8;
		}
	}

	#maincontent {
		.col-1-1();
	}

	#topcontent {
		.clearfix();
		li {
			.col();
			.col-4-8();
		}
	}

	.expandable {
		ul {
			display: none;
		}
	}
}

@media screen and (min-width: 1280px) {
}